.cardsContainer {
    display: flex;
    align-items: center; 
    padding: 20px;
    overflow-y: auto;
    justify-content: center;
    filter: none; /* Ensure no global hue shift affects this container */
}

.cardContainer {
    perspective: 1000px;
    width: 300px;
    height: 500px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease;
    margin: 20px;
    z-index: 0; 
    filter: none; /* Ensure no global hue shift affects the cards */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1); /* A very subtle white border */
    transition: transform 0.3s ease, box-shadow 0.3s ease;


}

.cardContainer:hover,
.cardContainer:active {
    transform: scale(1.1);
    z-index: 1; 
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);

}



.cardFace, .cardBack {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 15px;
    transition: background 0.5s;
    font-weight: bold;
    color: #333333; /* Deep gray */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* subtle shadow for depth */

}



.cardFront h2 { 
    font-size: 28px; /* Adjust as needed */
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-family: 'Cinzel', serif; /* Or any other font you choose */
    margin-bottom: 10px; /* Adds a little space between the title and any other content you might add */
    background: -webkit-linear-gradient(45deg, #f9f7f5, #888888); /* Adjusted to lighter colors */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.cardBack p {
    font-size: 20px; /* Adjust as needed */
    font-weight: 400;
    font-family: 'Merriweather', serif; /* Or any other font you choose */
    text-align: justify; /* This will make the text more evenly spaced and easier to read */
    margin: 0 10px; /* Adds a little padding on the sides for better text alignment */
    font-style: italic; /* gives a touch of elegance */

}

.expandedCard {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5); /* Adjust scale as needed */
    z-index: 1000; /* Ensure it's above other content */
}

.blurredBackground {
    filter: blur(5px);
    pointer-events: none; /* Make sure users can't interact with blurred content */
}


/* Fire Card */
.fire .cardContainer {
    z-index: 5;
}
.fire .cardFace, .fire .cardBack {
    background: linear-gradient(120deg, #FF0000, #FF4500); /* Pure red to orange-red gradient */
    color: #f4f1e9;
    animation: fireHueShift 10s infinite alternate;
}

/* Water Card */
.water .cardContainer {
    z-index: 4;
}
.water .cardFace, .water .cardBack {
    background: linear-gradient(120deg, #32CD32, #3CB371); /* LimeGreen to MediumSeaGreen gradient */
    color: #f4f1e9; /* Adjust text color if needed for better contrast */
    animation: waterHueShift 10s infinite alternate;
}

/* Air Card */
.air .cardContainer {
    z-index: 3;
}
.air .cardFace, .air .cardBack {
    background: linear-gradient(120deg, #1E90FF, #00BFFF); /* DeepSkyBlue to DodgerBlue gradient */
    color: #4B0082; /* You might want to adjust this text color for better contrast */
    animation: airHueShift 10s infinite alternate;
}

/* Earth Card */
.earth .cardContainer {
    z-index: 2;
}
.earth .cardFace, .earth .cardBack {
    background: linear-gradient(120deg, #8B4513, #A0522D); /* SaddleBrown to Sienna gradient */
    color: #FFFFFF; /* Adjusted text color to white for better contrast with brown */
    animation: earthHueShift 10s infinite alternate;
}


/* Akasha Card */
.akasha .cardContainer {
    z-index: 1;
}
.akasha .cardFace, .akasha .cardBack {
    background: linear-gradient(120deg, #8B008B, #4B0082); /* Dark magenta to indigo gradient */
    color: #f4f1e9; /* Adjust text color if needed for better contrast */
    animation: akashaHueShift 10s infinite alternate;
}

/* Mobile styles */
@media (max-width: 768px) {
    .cardsContainer {
        flex-direction: column;
    }

    .cardContainer {
        width: 90%;
        margin: 20px auto;
    }
}

/* Tablet and up */
@media (min-width: 769px) {
    .cardContainer {
        width: 300px;
    }
}

@keyframes fireHueShift {
    0%, 80%, 100% {
        filter: hue-rotate(0deg);
    }
    40% {
        filter: hue-rotate(-25deg); /* Shift towards orange */
    }
}

@keyframes waterHueShift {
    0%, 100% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(45deg); /* Shift towards a different shade of blue */
    }
}

@keyframes airHueShift {
    0%, 100% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(-30deg); /* Shift towards a lighter shade */
    }
}

@keyframes earthHueShift {
    0%, 100% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(30deg); /* Shift towards a darker shade of brown */
    }
}

@keyframes akashaHueShift {
    0%, 100% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(20deg); /* Shift towards a different shade of violet */
    }
}

