/* Global Styles */

/* SVG Visualization */
.elementsCircle {
    width: 1000px;
    height: 1000px;
    position: relative;
}

/* Element Information Container */
.elementInfoContainer {
    margin-top: 30px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Hidden Element Info */
.elementInfo {
    color: white;
    text-align: center;
    font-size: 18px;
    max-width: 500px;
    margin-bottom: 20px;
    display: none;
}

/* Specific Styling for visible info */
.elementInfo h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.elementInfo ul {
    padding: 0;
    margin-bottom: 10px;
}

.elementInfo li {
    list-style: none;
}

/* Popup Styles */
.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    width: 300px;
    height: 250px;       
    opacity: .5;
    pointer-events: none;
    z-index: 0;
    transition: all 0.6s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popupContent {
    color: #1e2130;
    font-weight: bolder;
    font-size: 18px;
    text-align: center;
}

/* Page Title Styles */
.pageTitle {
    font-size: 32px;           
    color: white;              
    text-align: center;        
    padding: 20px;             
    background-color: #120a38;
    border-bottom: 2px solid #8842d5;
    margin-bottom: 20px;      
    width: 100%;              
}
