.container {
   /* Amethyst Aura Theme */
--primary-bg: #4B0082;
--secondary-bg: #9400D3;
--highlight: #D8BFD8;
--text-light: #E6E6FA;
--text-dark: #800080;
--accent: #9932CC;
--hover-bg: rgba(153, 50, 204, 0.7);
--hover-text-color: #4B0082;
    background: linear-gradient(135deg, var(--primary-bg), var(--secondary-bg));
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3); /* semi-transparent overlay */
    padding: 20px;
    border-radius: 10px;
}

.heroSection {
    position: relative;
    padding: 3rem 0;
    background-color: rgba(0, 0, 0, 0.3); /* semi-transparent overlay */
    border-radius: 10px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 3rem;
}

.heroSection h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--highlight);
    animation: fadeInUp 1.5s ease-out;
}

.heroSection p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.ctaButton {
    background-color: var(--highlight);
    color: var(--text-dark);
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1), 0px 10px 25px rgba(0, 0, 0, 0.15);
    transform: translateY(0);
}

.ctaButton:hover {
    background-color: var(--hover-bg);
    color: var(--hover-text-color);
    transform: translateY(-3px);
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.2);
}

.introduction {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.introduction img {
    max-width: 400px;
    border-radius: 5px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}

.testimonials h2 {
    margin-bottom: 1.5rem;
}

.testimonials blockquote {
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-left: 3px solid var(--highlight);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.testimonials blockquote:hover {
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.2);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .sunImage, .moonImage {
        display: none;
    }
}
