.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 10px;
}

.heroSection {
    position: relative; /* Ensures the sun and moon are positioned relative to this container */

    padding: 3rem 0; /* More vertical spacing for hero section */
    background: rgba(0, 0, 0, 0.3); /* Subtle dark background to make text pop */
    border-radius: 10px; /* Smoothens edges */
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2); /* Gives depth */

    text-align: center;
    margin-bottom: 3rem;
}

.sunImage, .moonImage {
    position: absolute; 
    height: 100px; /* Or desired height */
    width: auto; 
    top: 50%; 
    transform: translateY(-50%); /* This vertically centers the images */
}

.sunImage {
    width: 200px;  /* Adjust to desired width */
    height: 200px;  /* Typically set to auto to maintain aspect ratio */
    left: -325px; /* Adjust as necessary based on image size and desired spacing */
    position: absolute; /* Ensure you have this if you're using left/right for positioning */
}

.moonImage {
    width: 200px;  /* Adjust to desired width */
    height: 200px;  /* Typically set to auto to maintain aspect ratio */
    right: -325px; /* Adjust as necessary based on image size and desired spacing */
    position: absolute; /* Ensure you have this if you're using left/right for positioning */
}

.heroSection h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #dcb061; /* gold-ish color for highlights */
    animation: fadeInUp 1.5s ease-out;
}

.heroSection p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.ctaButton {
    background-color: #dcb061;
    color: #4a3729;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
}
.ctaButton:hover {
    background-color: #f4e3c9;
    color: #4a3729;
}


.introduction {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.introduction img {
    max-width: 400px;
    border-radius: 5px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}

.testimonials h2 {
    margin-bottom: 1.5rem;
}

/* Animation */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .sunImage, .moonImage {
        display: none; /* Hide them on mobile, or adjust as you see fit */
    }
}

